body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 18px;
}

a {
    color: rgb(18, 84, 206);
}

#header {
    background: linear-gradient(rgb(113, 201, 230) 0%, lightblue 100%);
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header a {
    text-decoration: none;
    color: unset;
}

#header-title {
    margin-top: 65px;
}

#header-title a {
    font-size: 30px;
    font-weight: 700;
}

#header-nav {
    margin-top: 35px;
}

#header-nav a {
    text-decoration: none;
    color: unset;
    font-weight: 600;
}

main {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 800px;
}
