body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgb(18, 84, 206);
}

a:hover {
    color: rgb(116, 140, 184);
}

#header {
    background: linear-gradient(rgb(114, 194, 221) 0%, rgb(205, 237, 248) 100%);
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header a {
    color: #000000;
}

#header a:hover {
    color: #7f7f7f;
}

#header-title {
    margin-top: 65px;
}

#header-title a {
    font-size: 30px;
    font-weight: 700;
}

#header-nav {
    margin-top: 35px;
}

#header-nav ul {
    display: flex;
}

#header-nav li:not(:last-child) {
    margin-right: 20px;
}

#header-nav li:not(:last-child)::after {
    content: '·';
    position: relative;
    left: 10px;
}

#header-nav a {
    text-decoration: none;
    color: unset;
    font-weight: 600;
}

#header-nav a.active {
    color:rgb(78, 131, 161)
}

main {
    margin: 0 auto;
    padding: 40px 30px 0 30px;
    max-width: 800px;
}

.post-header h1 {
    font-size: 30px;
}

.post-meta {
    margin-top: 10px;
}

.post-body {
    margin-top: 30px;
}
